.description {
    margin-top: 3%;
  }
  
  .mb-3 {
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .flowRate {
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 1%;
    border: 2px solid green;
  }
  